#eventButton.mat-raised-button.mat-accent{
  background-color: #ff4c68;
  color: #fff;
  position: relative;
}
#eventButton.mat-raised-button.mat-accent:hover{
  color: #333333;
}

:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

mat-spinner
{
    margin: auto;
}

.crew-image
{

    max-height: 50px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.crew-description
{
    margin-top: 25px;
    margin-bottom: 25px;
}

mat-paginator
{
    margin-top: 1 rem;
}

.restaurant-icon
{
    text-align: center;
}

.green
{
    color: green;
}

.blue
{
    color: blue;
}
