<mat-toolbar color="primary">
    <span>
        <a routerLink="/">ChewCrew</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Dish</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
                <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
            </li>
        <li>
                <a mat-button routerLink="/home" routerLinkActive="mat-accent">
                    <mat-icon class="home-icon" aria-hidden="true" aria-label="Example home icon">home</mat-icon>
                 </a>
        </li>
    </ul>
</mat-toolbar>