<!-- <div class="colored-section container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><img height="50px" width="50px" src="../../assets/images/chewcrewlogo.png" alt="">chew crew</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item mt-1">
                    <a mat-button routerLink="/" routerLinkActive="mat-accent">
                        <mat-icon class="home-icon" aria-hidden="true" aria-label="Example home icon">home</mat-icon>
                    </a>
                </li>

                <li class="nav-item mt-1">
                <a class="nav-link" href="#">About</a>
                </li>

                <li class="nav-item mt-1">
                <a class="nav-link" href="#">Sign out</a>
                </li>

                <li *ngIf="userIsAuthenticated">
                    <a class="nav-link" routerLink="/create" routerLinkActive="mat-accent">New Dish</a>
                </li>

                <li *ngIf="!userIsAuthenticated">
                    <a class="nav-link" routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
                </li>

                <li *ngIf="!userIsAuthenticated">
                    <a class="nav-link" routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
                </li>

                <li *ngIf="userIsAuthenticated">
                    <button class="nav-link" (click)="onLogout()">Logout</button>
                </li>
            </ul>

        </div>
    </nav>
</div> -->

<mat-toolbar class="colored-section">
    <span>
        <a mat-button class="navbar-brand" routerLink="/" routerLinkActive="mat-accent">
            <img height="55px" width="55px" src="../../assets/images/chewcrewlogo.png" alt="">
            chew crew
        </a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Dish</a>
        </li>
        <li>
            <a mat-button routerLink="/home" routerLinkActive="mat-accent">
                <mat-icon class="home-icon" aria-hidden="true" aria-label="Example home icon">home</mat-icon>
            </a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>