.header-image {
    background-size: cover;
}


:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

mat-spinner
{
    margin: auto;
}

.profile-image 
{
    
    max-height: 50px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.profile-bio
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-crews
{
    margin-bottom: 50px;
}

.section
{
    display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

h2
{
    margin: 10px;
}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
  }

.sub-margin
{
    margin: 0 10px;
}
