<mat-spinner *ngIf="isLoading"></mat-spinner>

  <mat-card class="profile" *ngIf="!isLoading">
    <mat-card-header class="colored-section">  
    <h3 class="title">{{event.name}}</h3>
    </mat-card-header>
    <section class="eventDate">
        <h4 class="date">{{event.date}}</h4>
        <h4 class="location">{{event.location}}</h4>
    </section>
    <mat-divider></mat-divider>
    <section class="profile-bio">
      <p class="desc">
          {{event.description}}
      </p>
    </section>

    <div class="col-lg-6">
        <h3 mat-subheader class="colored-section">Dishes</h3>
        <mat-accordion multi="true" *ngIf="dishes.length > 0 && !isLoading">
            <mat-expansion-panel *ngFor="let dish of dishes">
              <mat-expansion-panel-header>
                {{ dish.name }}
              </mat-expansion-panel-header>
              <span class="pull-right">
                  <img [src]="dish.imagePath" 
                  [alt]="dish.name" 
                  class="img-responsive" 
                  style="max-height: 150px;">
              </span>
              <p class="dish-description">{{ dish.description }}</p>
              <mat-divider></mat-divider>
              <mat-chip-list aria-label="Tags">
                  <mat-chip color="accent" selected>{{ dish.tags }} </mat-chip>
              </mat-chip-list>
              
                <mat-action-row *ngIf="userIsAuthenticated && userId == dish.creator">
                  <a mat-button class="blue" [routerLink]="['/dishes/edit', dish.id]">
                    <i class="material-icons">
                        edit
                    </i>
                    EDIT
                  </a>
                  <button mat-button color="warn" (click)="onDeleteDish(dish.id, event.id)">
                    <i class="material-icons">
                      delete
                    </i>
                    DELETE
                  </button>
                </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <a mat-raised-button color="accent" routerLink="/dishes/create" id="addButton">
            <i class="material-icons">
                local_dining
                </i>
            Add Dish
          </a>
          
          <mat-divider></mat-divider>
          
          <mat-paginator [length]="totalDishes" [pageSize]="dishesPerPage" [pageSizeOptions]="pageSizeOptions" 
          (page)="onChangedPage($event)"  *ngIf="dishes.length > 0">
          </mat-paginator>
          <p class="info-text mat-body-1" *ngIf="dishes.length <= 0 && !isLoading">No dishes added yet!</p>

    </div>

    <div class="col-lg-6 pull-right">
        <h3 mat-subheader class="colored-section">Attending</h3>
        <p *ngIf="eventMembers.length <= 0 && !isLoading">
          None yet!
        </p>
        <mat-list dense class="members" *ngIf="eventMembers.length > 0 && !isLoading">
            <mat-list-item class="view overlay zoom" *ngFor="let eventMember of eventMembers">
              <img matListAvatar class="img-fluid" [src]="eventMember.image" [alt]="eventMember.name">
              <h3 matLine>{{ eventMember.name }}</h3>
            </mat-list-item>
        </mat-list>
        <section class="example-section">
            <mat-checkbox color="primary" [checked]='isAttending' (change)="joinOrLeaveEvent($event)">Going?</mat-checkbox>
        </section>
      </div>

  
   
        <mat-action-row class="action-row">
            <a mat-button color="primary" [routerLink]="['/events/edit', event.id]" *ngIf="userIsAuthenticated && userId == event.creator">
              <i class="material-icons">
                  edit
              </i>
              EDIT EVENT
            </a>
            <a mat-button color="warn" (click)="onDelete(event.id, event.crewId)" *ngIf="userIsAuthenticated && userId == event.creator">
              <i class="material-icons">
                  delete
              </i>
              DELETE EVENT
            </a>
          </mat-action-row>
    
    
  </mat-card>
