<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveDish(dishForm)" #dishForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input 
      matInput
      type="text"
      name="name"
      [ngModel]="dish?.name"
      required
      placeholder="Dish Name"
      #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter a dish name!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea 
      matInput
      rows="6"
      name="description"
      [ngModel]="dish?.description"
      required
      placeholder="Description"
      #description="ngModel"></textarea>
      <mat-error *ngIf="description.invalid">Please enter a dish description!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput
      type="text"
      name="tags"
      [ngModel]="dish?.tags"
      placeholder="Tags (seperate with commas)"
      #tags="ngModel">
      <mat-error *ngIf="tags.invalid">Please enter some tags!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput
      type="text"
      name="imagePath"
      [ngModel]="dish?.imagePath"
      placeholder="Dish Image"
      #imagePath="ngModel">
      <mat-error *ngIf="imagePath.invalid">Please enter an image Path!</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Dish</button>
  </form>
</mat-card>
