<mat-spinner *ngIf="isLoading"></mat-spinner>
<!-- <mat-icon class="restaurant-icon" aria-hidden="true" aria-label="restaurant icon">restaurant</mat-icon> -->

<mat-accordion multi="true" *ngIf="dishes.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let dish of dishes">
    <mat-expansion-panel-header>
      {{ dish.name }}
    </mat-expansion-panel-header>
    <span class="pull-right">
        <img [src]="dish.imagePath" 
        [alt]="dish.name" 
        class="img-responsive" 
        style="max-height: 150px;">
    </span>
    <p class="dish-description">{{ dish.description }}</p>
    <mat-divider></mat-divider>
    <mat-chip-list aria-label="Tags">
        <mat-chip color="accent" selected>{{ dish.tags }} </mat-chip>
    </mat-chip-list>
    
      <mat-action-row *ngIf="userIsAuthenticated && userId == dish.creator">
        <a mat-button color="primary" [routerLink]="['/dishes/edit', dish.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(dish.id)">DELETE</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalDishes" [pageSize]="dishesPerPage" [pageSizeOptions]="pageSizeOptions" 
(page)="onChangedPage($event)"  *ngIf="dishes.length > 0">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="dishes.length <= 0 && !isLoading">No dishes added yet!</p>