mat-chip.mat-standard-chip{
  background-color: #ff4c68;
  color: #fff;
}
#addButton{
  background-color: #ff4c68;
  color: #fff;
  position: absolute;
}

#addButton:hover{
  color:#333333;
}
:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

mat-spinner
{
    margin: auto;
}

.blue
{
    color: blue;
}

.dish-image
{

    max-height: 50px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.dish-description
{
    margin-bottom: 100px;
}

mat-paginator
{
    margin-top: 1 rem;
}

.restaurant-icon
{
    text-align: center;
}
