<mat-spinner *ngIf="isLoading"></mat-spinner>

  <mat-card class="profile" *ngIf="!isLoading">
    <mat-card-header>  
    <img mat-card-avatar class="header.image" [src]="profile.image" [alt]="profile.name">
    <mat-card-title>{{profile.name}}</mat-card-title>
    <mat-card-subtitle>{{profile.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <!-- <span class="pull right">
        <img mat-card-sm-image 
        [src]="profile.image" 
        [alt]="profile.name"
         class="img-responsive" 
        style="max-height: 150px;">
    </span> -->
    <mat-card-content class="profile-bio">
      <p>
          Bio: {{profile.bio}}
      </p>
    </mat-card-content>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/profile/edit', profile.id]">EDIT PROFILE</a>
    </mat-action-row>
  </mat-card>