<section class="view rgba-gradient">

    <section class="colored-section " id="title"> 
    
        <!-- This allows anything that is contained inside your container to be fully
          responsive relative to the size of the screen
          container jumps through the different widths but the fluid container
          simply adapts to the width of the screen and always takes up 100 percent
          of the screen width -->
        <div class="container-fluid">
    
          <div class="row">
            <div class="col-lg-6">
              <h1 class="chew-heading chew-crew center">
                <img class="logo" src="../../assets/images/chewcrewlogo.png" alt="logo">
                Chew Crew
              </h1>
              <h1 class="big-heading center">Take control of your potluck by organizing what the crew chews</h1>
              <a class="btn btn-lg btn-success big-btn android-btn" href="#">
                  <img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png">
                  <div class="btn-text">
                    <small>Available on</small>
                    <br>
                    <strong>Google Play</strong>
                  </div>
              </a>
            </div>
            
            <div class="col-lg-6">
                <img class="home-image" src="https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Image">
            </div>
          </div>
    
        </div>
    
    </section> 
    
    
      <!-- Features -->
    
      <section class="white-section" id="features">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 feature-box">
            <img class="icon" src="../../assets/images/picnic-basket.png" height="70px" width="70px" alt="">
            <h3 class="feature-title">Organize Potlucks</h3>
            <p>A place where people can communicate what they are bringing to the potluck</p>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 feature-box">
            <img class="icon" src="../../assets/images/salad.png" height="70px" width="70px" alt="">
            <h3 class="feature-title">Exchange Ingredients</h3>
            <p>Share and find new special ingredients with friends</p>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 feature-box">
            <img class="icon" src="../../assets/images/dish.png" height="70px" width="70px" alt="">
            <h3 class="feature-title">Tag dishes</h3>
            <p>Tag your favorite dishes to save for later</p>
          </div>
        </div>
    
      </section>
    
    
    
    
      <!-- Pricing -->
    
      <section class="white-section" id="pricing">
    
        <div>
            <h2 class="section-heading">A Plan for Every Chew Crew</h2>
            <p>We have two packages</p>
            <div class="row plans">
              <div class="pricing-column col-lg-4 col-sm-12 offset-lg-2">
                <div class="card">
                  <div class="card-header">
                    <h3 class="">Standard</h3>
                  </div>
                  <div class="card-body">
                    <h2 class="price-text">Free</h2>
                    <p>Make potluck groups of up to 15 people</p>
                    <p></p>
                    <button type="button" class="btn btn-dark btn-lg btn-block">Sign Up</button>
                  </div>
                </div>
              </div>
              <div class="pricing-column col-lg-4 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Premium</h3>
                  </div>
                  <div class="card-body">
                    <h2 class="price-text">$5 / mo</h2>
                    <p>Add more than 15 people to a potluck</p>
                    <button type="button" class="btn btn-dark btn-lg btn-block">Sign Up</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      
      </section>
    
    
      <!-- Download App -->
    
      <section class="colored-section" id="app">
    
        <h3 class="big-heading">Download our app for Android and connect with your Crew on the go</h3>
        <!-- <button type="button" class="btn btn-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button> -->
        <a class="btn btn-lg btn-success big-btn android-btn" href="#">
            <img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"><div class="btn-text"><small>Available on</small><br><strong>Google Play</strong></div></a>
      </section>
    
    
      <!-- Footer -->
    
      <!-- <footer class="white-section" id="footer">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>© Copyright 2019 ChewCrew</p>
      </footer> -->
    
      <section id="lab_social_icon_footer">
          <!-- Include Font Awesome Stylesheet in Header -->
          <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
          <div class="container">
                  <div class="text-center center-block">
                          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        <p>© Copyright 2019 ChewCrew</p>
              </div>
          </div>
          </section>
        </section>